.head {
    background-color: #42473F;
    flex-direction: column;
    height: 80px;
    display: flex;
    align-items: center;
}

.head h1 {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

.pic_frame {
    display: flex;
    flex-direction: column;
    height: 150px;
    background: url('../pics/creation_of_adam.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pic_frame h1 {
    font-family: "DM Sans";
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
}

/* ############################################################################# */

.book_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: "Kanit";
    color: darkslateblue;
}

.book_list_frame {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 20px;
    padding: 5px;
    gap: 5px;
    border-radius: 10px;
}

.book_list_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*margin: 12px 0 12px 0;*/
/*     border: 2px solid red; */
    /*border-radius: 4px;*/
}

.book_list_group ul {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    padding: 0;
}

.book_list_group ul li {
    list-style: none;
}

.book_list_group ul li a img {
    height: 300px;
    width: 225px;
    object-fit: cover;
    /*padding: 8px;*/
}

.book_list_group ul li a h2 {
    font-size: 20px;
    color: #42473F;
}