{% extends 'client_header.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/publisher_form.css' %}">
{% endblock %}
{% block content %}
<div class="publisher_create">
    <form method="POST" class="publisher_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input_group">
            <h2>Publisher form</h2>
            <hr>
            <div class="input_unit">
                <img src="{% static 'pics/square.JPG' %}">
                <input required name="name" id="name" type="text" class="input_form" placeholder="Publisher name" maxlength="70" minlength="2">
            </div>
            <div class="input_unit">
                <img src="{% static 'pics/square.JPG' %}">
                <input required name="description" id="description" type="text" class="input_form" placeholder="description" maxlength="200" minlength="2">
            </div>
            <div class="input_unit">
                <img src="{% static 'pics/square.JPG' %}">
                <input name="picture" id="picture" type="file" class="input_form">
            </div>

            <input type="submit" class="submit">
        </div>
    </form>
</div>

<script>
$("#publisher_form").submit(function() {
  console.log('Checking file size');
  if (window.File && window.FileReader && window.FileList && window.Blob) {
      var file = $('#id_{{ form.upload_field_name }}')[0].files[0];
      if (file && file.size > {{ form.max_upload_limit }} ) {
          alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");
      return false;
    }
  }
});
</script>
{% endblock %}